body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}

/*BROWSE AND LIBRARY INDEX*/

/*MY CODE*/
/*GAME LIBRARY*/
#libraryLoopImages{
    display: inline-block;
    width: 264px;
    height:auto;
}

/*DETAILS PAGE*/
.detailsData{
    border: 1px solid black;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}
#detailsImage{
    width: 264px;
}
.saveData{
    border: 1px solid black;
}
/*DETAILS EDIT*/
.control-label{
    text-align: left !important;
}