@model IEnumerable<GamerInfo.Models.ApiModels.ApiDisplay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <a href="@Url.Action("Details", "Api", item)"><image id="libraryLoopImages" src="@Html.DisplayFor(modelItem => item.CoverID)" /></a>
            <h3>
                @Html.DisplayFor(modelItem => item.Name)
            </h3>
        </div>
    }

</div>
