@model IEnumerable<GamerInfo.Models.ApiModels.ApiDisplay>

<div class="container">
    <h1>Browse Games</h1>
    <p>Can't find a game? Go to your library and create it yourself!</p>

    <div>
        <label>Search Games: </label>
        <input class="form-control" style="display: inline" id="searchValue" placeholder="enter title" />
        <button type="submit" class="btn btn-default" id="searchFunction" style="background: #8C418D; border-color: #A54EA6; color: #E3E3E3">Search</button>
    </div>

    <div class="libraryGames">
        @foreach (var item in Model)
        {
            <div class="game">
                <a href="@Url.Action("Details", "Api", item)">
                    <image id="libraryLoopImages" src="@Html.DisplayFor(modelItem => item.CoverID)" />
                </a>
                <h3>
                    @Html.DisplayFor(modelItem => item.Name)
                </h3>
            </div>
        }
    </div>
</div>


@section scripts {
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("button#searchFunction")
                .click(function (e) {
                    var target = $(e.target);
                    var search = $("input#searchValue").val();
                    $.ajax({
                        method: "GET",
                        url: `/Api/Index`,
                        data: { search: search },
                        dataType: 'json'
                    })
                        .done(function (e) {
                            console.log(e)
                        })
                        .fail(function (r) {
                            console.log(r)
                        })
                })
        })
    </script>
}