@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form class="form-group" action="https://formspree.io/rebekahmantlo@gmail.com" method="POST">
    <input type="text" name="name" />
    <input type="email" name="_replyto" />
    <textarea name="message"></textarea>
    <input class="btn btn-default" type="submit" value="Send" />
</form>