@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron row">
    <div class="col-md-4">
        <h1>Left</h1>
    </div>
    <div class="col-md-8">
        <h1>Gamers Save</h1>
        <p class="lead">Gamers Save is a site for you to maintain information on the games you play and the save files you have for them. Keep up to date on which save file you are currently playing and where you left off with your own personal notes!</p>
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
    </div>
</div>

<div class="jumbotron row">
    <div class="col-md-8">
        <h1>Personalize!</h1>
        <p class="lead">Make you account family friendly! Change your settings to prevent mature games from being included in your searches, or just change the theme colors for personal preference!</p>
    </div>
    <div class="col-md-4">
        <h1>Left</h1>
    </div>
</div>

<div class="jumbotron row">
    <div class="col-md-4">
        <h1>Left</h1>
    </div>
    <div class="col-md-8">
        <h1>Video game positive effects on life facts</h1>
        <p class="lead">Gamers Save is a site for you to maintain information on the games you play and the save files you have for them. Keep up to date on which save file you are currently playing and where you left off with your own personal notes!</p>
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
    </div>
</div>