@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Gamers Save</h1>
    <p class="lead">Gamers Save is a site for you to maintain information on the games you play and the save files you have for them. Keep up to date on which save file you are currently playing and where you left off with your own personal notes!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
